name: Label Checker
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
  push:
    tags:
    


concurrency:
  group: label-checker-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  label-test:
    runs-on: ubuntu-latest
    name: Check labels
    steps:
      - name: Checkout
        run: |-
          env